
@font-face {
    font-family: Pixel-Art;
    src: url(../font/pixelart.ttf);
  }

@font-face {
    font-family: VT323;
    src: url(../font/VT323-Regular.ttf);
}

:root{
    --black: #030707ff;
    --font-header:45px;
    --img-header: 40px;
    --font-content: 20px;
    --font-info-case: 40px;
    --font-info-case2: 20px;
    --font-hobby:22px;
    --font-skills:28px;
    --font-contact:28px;
    --font-link:24px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    //  font-family: 'Lato', sans-serif;
    // font-family: 'Merriweather', serif;
    // font-family: 'Montserrat', sans-serif;
    // font-family: 'Open Sans', sans-serif;
    // font-family: 'Permanent Marker', cursive;
    // font-family: 'Playfair Display', serif;
    // font-family: 'Poppins', sans-serif;
    // font-family: 'Raleway', sans-serif;
    // font-family: 'Roboto', sans-serif;
    // font-family: 'Roboto Slab', serif;
    // font-family: 'Source Code Pro', monospace; 
    // font-family: 'Pixel-Art', sans-serif;
    font-family: 'VT323', monospace;
    list-style: none;
    text-decoration: none;
    color: white;
}
html {
    scroll-behavior: smooth;
  }



.header{
   
}

.background {
    // width: 100vw;
    // height: 100vh;
    // aspect-ratio: 16 / 9;
    // background: url(../img/background.png)  ;  
    // background-size:cover;                      
    // background-repeat: no-repeat;
    // background-position: center center;  
    // position: fixed;
    // z-index: -1;
    img{
        width: 100%;
        height: 100%;
        aspect-ratio: 16 / 9;
        
        background-size:cover;                      
        background-repeat: no-repeat;
        background-position: center center;  
        position: fixed;
        z-index: -1;
    }

    .img2{
        width: 100%;
        height: 100%;
        aspect-ratio: 16 / 9;
        background-size:cover;                      
        background-repeat: no-repeat;
        background-position: center center;  
        position: fixed;
        top:0;
        left:0;
        bottom: 0;
        right: 0;
        z-index: -1;
    }
}

.hero{
    width: 40%;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40vh;
   

    h1{
        font-size: var(--font-header);
        margin-left: 8px;
    }
    
    .case{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 10px;
        padding: 12px;
        background-color: rgba(0, 0, 0, 0.5);
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
        border: 1px solid white;
    }

    .header{
        height: var(--img-header);
        display: flex;
        justify-content: space-between;
        img{
            width: var(--img-header); 
        }
        .left{
            display: flex;
            // font-size:26px ;
        }
        .right{
            display: flex;
            float: right;
            font-size: var(--img-header);
        }
    }

    .content{
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        p{
            font-family: 'VT323', monospace;
            font-size: var(--font-content);
        }
    }

    #intro{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .footer{
            height: 80px;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            a{
                width: auto;
                height: auto;
                padding: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-family: 'VT323', monospace;
                font-size: var(--font-link);
                border: 1px solid white;
                border-radius: 10px;
                transition: .5s;
            }
            a:hover{
                color: gray;
                background-color: white;
            }
        }
    }

    .info-case{
        max-height: 60px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        border-bottom: 1px solid white;
        padding-top: 10px;
        padding-bottom: 10px ;
        transition: 0.9s ;
        a{
            position: fixed;
            background-color: red;
            height: var(--font-info-case);
            width: var(--font-info-case);
            z-index: 20;
        }
        .header-info{
            display: flex;
            transition: .5s;
            img{
                width: auto;
                height: var(--font-info-case);

                transition: .5s;
            }
            p{
                margin-left: 8px;
                font-family: 'VT323', monospace;
                font-size: var(--font-info-case); 
                transition: .5s;
            }
        }

        .description-info{
            display: flex;
            transition: .5s;
            img{
                width: var(--font-info-case2);
                height: var(--font-info-case2);
                transition: .5s;
            }
            p{
                margin-left: 8px;
                font-family: 'VT323', monospace;
                font-size: var(--font-info-case2); 
                transition: .5s;
            }
        }

        .description{
            display: flex;
            flex-direction: column;
            gap: 5px;
            margin-top: 5px;
            opacity: 0;
            overflow: hidden;
            font-family: 'VT323', monospace;
            font-size: var(--font-info-case2); 
            transition: 0.7s ;
        }
    }

    .info-case:hover{
        max-height: 500px;
    }

    .info-case:hover .description{
        opacity: 1;
    }

    #about-me{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        .hobby-content{
            display: flex;
            flex-direction: column;
            gap: 10px;
            font-size: var(--font-hobby);
            .box{
                display: flex;
                flex-wrap: wrap;
                gap: 10px;
                .icon-box{
                    display: flex;
                    img{
                        width: var(--font-hobby);
                    }
                    p{
                        margin-left: 4px;
                    }
                }
            }
        }
    }

    #skills{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .skill-content{
            display: flex;
            flex-direction: column;
            gap: 10px;
            font-size: var(--font-skills);
            .box{
                display: flex;
                flex-wrap: wrap;
                gap: 10px;
                .icon-box{
                    display: flex;
                    img{
                        width: var(--font-skills);
                    }
                    p{
                        margin-left: 4px;
                    }
                }
            }
        }
    }

    #projects{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #contact{
        
        .contact-content{
            display: flex;
            flex-direction: column;
            gap: 10px;
            font-size: var(--font-contact);
            
            .icon-box{
                display: flex;
                img{
                    width: var(--font-contact);
                }
                p{
                    margin-left: 4px;
                }
            }
            
        }
    }
    
}

.footer1{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1440px){
    
    
}

@media (max-width: 1200px){
    :root{
        --black: #030707ff;
        --font-header:40px;
        --img-header: 35px;
        --font-info-case: 35px;
    }
    
}

@media (max-width: 1024px) {
    :root{
        --black: #030707ff;
        --font-header:35px;
        --img-header: 30px;
        --font-content: 20px;
        --font-info-case: 30px;
        --font-info-case2: 20px;
        --font-hobby:22px;
        --font-skills:25px;
        --font-contact:25px;
        --font-link:20px;
    }
}

@media (max-width: 900px) {
    .hero{
        width:50%;
    }
}

@media (max-width: 768px) {
    .hero{
        width:60%;
    }
    
}

@media (max-width: 600px) {
    .hero{
        width:70%;
    }
 
}

@media (max-width: 480px) {
    :root{
        --black: #030707ff;
        --font-header:30px;
        --img-header: 25px;
        --font-content: 17px;
        --font-info-case: 25px;
        --font-info-case2: 17px;
        --font-hobby:20px;
        --font-skills:20px;
        --font-contact:20px;
        --font-link:15px;
    }
    
}

@media (max-width: 400px) {
    :root{
        --black: #030707ff;
        --font-header:30px;
        --img-header: 25px;
        --font-content: 15px;
        --font-info-case: 20px;
        --font-info-case2: 17px;
        --font-hobby:17px;
        --font-skills:17px;
        --font-contact:15px;
        --font-link:12px;
    }

    .hero{
        .info-case{
            max-height: 40px;
        }
    }
}

@media (max-width: 370px) {
    :root{
        --black: #030707ff;
        --font-header:30px;
        --img-header: 25px;
        --font-content: 15px;
        --font-info-case: 18px;
        --font-info-case2: 13px;
        --font-hobby:17px;
        --font-skills:17px;
        --font-contact:15px;
        --font-link:10px;
    }

    .hero{
        .info-case{
            max-height: 40px;
        }
    }
}


