:root{
    --black: #030707ff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    //  font-family: 'Lato', sans-serif;
    // font-family: 'Merriweather', serif;
    // font-family: 'Montserrat', sans-serif;
    // font-family: 'Open Sans', sans-serif;
    // font-family: 'Permanent Marker', cursive;
    // font-family: 'Playfair Display', serif;
    // font-family: 'Poppins', sans-serif;
    // font-family: 'Raleway', sans-serif;
    // font-family: 'Roboto', sans-serif;
    // font-family: 'Roboto Slab', serif;
    // font-family: 'Source Code Pro', monospace; 
    list-style: none;
    text-decoration: none;
    color: var(--black);
}
html {
    scroll-behavior: smooth;
  }



.header{
   
    
}


.hero{
    
    
}

@media (max-width: 1440px){
    
}

@media (max-width: 1200px){

}

@media (max-width: 1024px) {
    
}

@media (max-width: 900px) {

}

@media (max-width: 768px) {
    
}

@media (max-width: 600px) {
 
}

@media (max-width: 480px) {
    
}

@media (max-width: 400px) {

}