@font-face {
  font-family: Pixel-Art;
  src: url(../font/pixelart.ttf);
}
@font-face {
  font-family: VT323;
  src: url(../font/VT323-Regular.ttf);
}
:root {
  --black: #030707ff;
  --font-header:45px;
  --img-header: 40px;
  --font-content: 20px;
  --font-info-case: 40px;
  --font-info-case2: 20px;
  --font-hobby:22px;
  --font-skills:28px;
  --font-contact:28px;
  --font-link:24px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "VT323", monospace;
  list-style: none;
  text-decoration: none;
  color: white;
}

html {
  scroll-behavior: smooth;
}

.background {
  width: 100vw;
  height: 100vh;
  aspect-ratio: 16/9;
  background: url(../img/background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: fixed;
  z-index: -1;
}

.hero {
  width: 40%;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 40vh;
}
.hero h1 {
  font-size: var(--font-header);
  margin-left: 8px;
}
.hero .case {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  padding: 12px;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  border: 1px solid white;
}
.hero .header {
  height: var(--img-header);
  display: flex;
  justify-content: space-between;
}
.hero .header img {
  width: var(--img-header);
}
.hero .header .left {
  display: flex;
}
.hero .header .right {
  display: flex;
  float: right;
  font-size: var(--img-header);
}
.hero .content {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero .content p {
  font-family: "VT323", monospace;
  font-size: var(--font-content);
}
.hero #intro {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.hero #intro .footer {
  height: 80px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.hero #intro .footer a {
  width: auto;
  height: auto;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "VT323", monospace;
  font-size: var(--font-link);
  border: 1px solid white;
  border-radius: 10px;
  transition: 0.5s;
}
.hero #intro .footer a:hover {
  color: gray;
  background-color: white;
}
.hero .info-case {
  max-height: 60px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border-bottom: 1px solid white;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: 0.9s;
}
.hero .info-case .left {
  display: flex;
  transition: 0.5s;
}
.hero .info-case .left img {
  width: var(--font-info-case);
  height: var(--font-info-case);
  transition: 0.5s;
}
.hero .info-case .left p {
  margin-left: 8px;
  font-family: "VT323", monospace;
  font-size: var(--font-info-case);
  transition: 0.5s;
}
.hero .info-case .left2 {
  display: flex;
  transition: 0.5s;
}
.hero .info-case .left2 img {
  width: var(--font-info-case2);
  height: var(--font-info-case2);
  transition: 0.5s;
}
.hero .info-case .left2 p {
  margin-left: 8px;
  font-family: "VT323", monospace;
  font-size: var(--font-info-case2);
  transition: 0.5s;
}
.hero .info-case .description {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 5px;
  opacity: 0;
  overflow: hidden;
  font-family: "VT323", monospace;
  font-size: var(--font-info-case2);
  transition: 0.7s;
}
.hero .info-case:hover {
  max-height: 500px;
}
.hero .info-case:hover .description {
  opacity: 1;
}
.hero #about-me {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.hero #about-me .hobby-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: var(--font-hobby);
}
.hero #about-me .hobby-content .box {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.hero #about-me .hobby-content .box .icon-box {
  display: flex;
}
.hero #about-me .hobby-content .box .icon-box img {
  width: var(--font-hobby);
}
.hero #about-me .hobby-content .box .icon-box p {
  margin-left: 4px;
}
.hero #skills {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.hero #skills .skill-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: var(--font-skills);
}
.hero #skills .skill-content .box {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.hero #skills .skill-content .box .icon-box {
  display: flex;
}
.hero #skills .skill-content .box .icon-box img {
  width: var(--font-skills);
}
.hero #skills .skill-content .box .icon-box p {
  margin-left: 4px;
}
.hero #projects {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.hero #contact .contact-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: var(--font-contact);
}
.hero #contact .contact-content .icon-box {
  display: flex;
}
.hero #contact .contact-content .icon-box img {
  width: var(--font-contact);
}
.hero #contact .contact-content .icon-box p {
  margin-left: 4px;
}

.footer1 {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1200px) {
  :root {
    --black: #030707ff;
    --font-header:40px;
    --img-header: 35px;
    --font-info-case: 35px;
  }
}
@media (max-width: 1024px) {
  :root {
    --black: #030707ff;
    --font-header:35px;
    --img-header: 30px;
    --font-content: 20px;
    --font-info-case: 30px;
    --font-info-case2: 20px;
    --font-hobby:22px;
    --font-skills:25px;
    --font-contact:25px;
    --font-link:20px;
  }
}
@media (max-width: 900px) {
  .hero {
    width: 50%;
  }
}
@media (max-width: 768px) {
  .hero {
    width: 60%;
  }
}
@media (max-width: 600px) {
  .hero {
    width: 70%;
  }
}
@media (max-width: 480px) {
  :root {
    --black: #030707ff;
    --font-header:30px;
    --img-header: 25px;
    --font-content: 17px;
    --font-info-case: 25px;
    --font-info-case2: 17px;
    --font-hobby:20px;
    --font-skills:20px;
    --font-contact:20px;
    --font-link:15px;
  }
}
@media (max-width: 400px) {
  :root {
    --black: #030707ff;
    --font-header:30px;
    --img-header: 25px;
    --font-content: 15px;
    --font-info-case: 20px;
    --font-info-case2: 17px;
    --font-hobby:17px;
    --font-skills:17px;
    --font-contact:15px;
    --font-link:12px;
  }
  .hero .info-case {
    max-height: 40px;
  }
}
@media (max-width: 370px) {
  :root {
    --black: #030707ff;
    --font-header:30px;
    --img-header: 25px;
    --font-content: 15px;
    --font-info-case: 18px;
    --font-info-case2: 13px;
    --font-hobby:17px;
    --font-skills:17px;
    --font-contact:15px;
    --font-link:10px;
  }
  .hero .info-case {
    max-height: 40px;
  }
}/*# sourceMappingURL=style.css.map */